<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link disabled" href="#">Disabled</a>
          </div>
        </div>
      </nav>
      
<div>
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>You're logged in with Angular 6!!</p>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
        </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>

<div class="container container">
    <div class="row">
        <div class="col-md-12">
            <input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
            <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)" (userRowSelect)="onSelectRow($event)"></ng2-smart-table>
        </div>
    </div>
</div>

<div>
    <h3>Подробная информация о контакте</h3>
      <detail [empl]="selectedEmpolee"></detail>
  </div>