<div>
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>You're logged in with Angular 6!!</p>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
        </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>

<div>
    <input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)" (userRowSelect)="onSelectRow($event)"></ng2-smart-table>
</div>

<div>
    <h3>Подробная информация о контакте</h3>
      <detail [empl]="selectedEmpolee"></detail>
  </div>